[submodule "ns-3-dev-git"]
	path = ns-3-dev-git
	url = https://github.com/Oryon/ns-3-dev-git
[submodule "hnetd"]
	path = hnetd
	url = https://github.com/sbyx/hnetd.git
[submodule "libubox"]
	path = libubox
	url = http://git.openwrt.org/project/libubox.git
